*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  color: gray;
  text-align: center;
  background-color:black;
  height: 100px;
}

.container {
  margin: 0 auto;
  width: 100%;
  border: 5px solid grey;
  text-align: center;
}

.images {
  width: 612rem;
  height: 612rem;
  margin-top: 50rem;
  margin-right: 50rem;
}

.name-list {
  margin-right: 100rem;
  font-size: 20rem;
}

li:hover {
  color: gray;
  text-decoration: double;
}

li {
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: left;
}

footer{
  height: 50px;
  background-color: grey;
  text-align: center;
  margin-top: 10px;
}